* {
    color: white;
    /* font-size: 0.5rem; */
}

#card {
    height: 100vh;
    max-width: 480px;
    overflow: hidden;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, rgba(35, 69, 130, 1) 50%, rgba(35, 69, 130, 1) 100%), url("./resources/dvhung.png") round no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, rgba(35, 69, 130, 1) 50%, rgba(35, 69, 130, 1) 100%),
        url("./resources/dvhung.png") round no-repeat, #bababa;
    /* background-position: 100% -5rem; */

    display: flex;
    text-align: center;
    justify-content: center;
}


#card section#info {
    display: flex;
    flex-direction: column;
    align-self: end;
    padding-bottom: 1em;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.icon-container i {
    color: rgba(35, 69, 130, 1);
    font-weight: bolder;
    font-size: large;
}

.share-container .btn {
    background: #5a7097;
}

.share-container i {
    color: rgba(35, 69, 130, 1);

}